[submodule "SC3000-Artificial-Intelligence"]
	path = SC3000 Artificial Intelligence
	url = https://github.com/HiIAmTzeKean/SC3000-Artificial-Intelligence.wiki.git
[submodule "General knowledge"]
	path = General knowledge
	url = https://github.com/HiIAmTzeKean/General-knowledge
[submodule "Statistics"]
	path = Statistics
	url = https://github.com/HiIAmTzeKean/SC2000-Probability-and-Statistics
[submodule "SC2005 Operating system"]
	path = SC2005 Operating system
	url = https://github.com/HiIAmTzeKean/SC2005-Operating-System
[submodule "SC2001 Algorithm Analysis"]
	path = SC2001 Algorithm Analysis
	url = https://github.com/HiIAmTzeKean/SC2001-Algorithm-Analysis
[submodule "Machine learning"]
	path = Machine learning
	url = https://github.com/HiIAmTzeKean/Machine-learning
[submodule "Business"]
	path = Business
	url = https://github.com/HiIAmTzeKean/Business
[submodule "NLP"]
	path = NLP
	url = https://github.com/HiIAmTzeKean/NLP
[submodule "Computer networks"]
	path = Computer networks
	url = https://github.com/HiIAmTzeKean/Computer-networks
[submodule "OOP"]
	path = OOP
	url = https://github.com/HiIAmTzeKean/OOP
[submodule "80240693-Introduction-to-Big-Data-Systems"]
	path = 80240693-Introduction-to-Big-Data-Systems
	url = https://github.com/HiIAmTzeKean/80240693-Introduction-to-Big-Data-Systems
